@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Koulen", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #959595;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4b4b4b;
}
